
@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

#Main_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    box-sizing: border-box;

    .title{
        font-family: Paperozi;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        img{
            width: 150px;
        }

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 48px;
                margin: 0;
            }
            
            h1{
                font-size: 70px;
                margin: 0;
            }
        }
    }
    

    .btn{
        display: flex;
        flex-direction: column;
        gap: 50px;

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 90px;
            border-radius: 20px;
            font-size: 40px;
            font-family: Paperozi;
            background: none;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .practice_btn{
            background-color: #FEC601;  
        }

        .battle_btn{
            background-color: #FD7811;
        }

        a{
            text-decoration: none;
        }


    }
}

#Result_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .title{
        font-family: Paperozi;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 40px;
            font-weight: bold;
            margin: 0;
        }

        h1{
            font-size: 70px;
            margin: 0;
            color: #FD7811;
        }
    }

    main{
        position: relative;
        margin-top: 80px;
        width: 100%;
        max-width: 1000px;
        height: 450px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
        
        .round_button{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;

            button{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background:none;
                border: none;

            }
        }

    }

    .btn{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 400px;
        margin-top: 30px;
        
        button{
            width: 300px;
            height: 80px;
            background-color: #F3F3F3;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 30px;
            font-family: Paperozi;
        }

        button:hover{
            background-color: #FD7811;
        }
    }
}

#ResultCard_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: Paperozi;

    .round{
        font-size: 25px;
    }

    .input_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 70px;
        background-color: #FD7811;
        color: #ffffff;
        border-radius: 20px;

        .text{
            font-size: 30px;
        }

        .icon{
            font-size: 30px;
        }
        
    }

    .answer_container{
        width: 900px;
        height: 200px;
        background-color: #F3F3F3;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 28px;

        p{
            font-size: 25px;
            margin: 0;
        }

        .answer1{
            font-size: 30px;
            font-weight: bold;
            color: #FD7811;
        }

        .answer2{
            font-size: 30px;
        }
    }
    
}

#LionComponent_wrap{
    position: absolute;
    top: -80px;
    left: 50px;
    display: flex;
    gap: 10px;
    
    .lion_icon{
        img{
            width: 150px;
        }
    }

    .comment{
        margin-top: 25px;
        font-family: Paperozi;
        font-size: 25px;
    }
}