
@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

#Main_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    box-sizing: border-box;

    .title{
        font-family: Paperozi;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 63px;

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 54px;
                margin: 0;
            }
            
            h1{
                font-size: 90px;
                margin: 0;
            }
        }
    }
    

    .btn{
        display: flex;
        flex-direction: column;
        gap: 50px;

        button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 537px;
        height: 111px;
        border-radius: 20px;
        font-size: 50px;
        font-family: Paperozi;
        background: none;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .practice_btn{
            background-color: #FEC601;
        }

        .battle_btn{
            background-color: #FD7811;
        }
    }
}

#Result_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .title{
        font-family: Paperozi;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 50px;
            font-weight: bold;
            margin: 0;
        }

        h1{
            font-size: 90px;
            margin: 0;
            color: #FD7811;
        }
    }

    main{
        margin-top: 100px;
        width: 100%;
        max-width: 1360px;
        height: 561px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
        padding-left: 88px;
        padding-right: 88px;

        button{
            width: 57px;
            height: 57px;
            display: flex;
            justify-content: center;
            align-items: center;
            background:none;
            border: none;
        }

    }

    .btn{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        
        button{
            width: 390px;
            height: 103px;
            background-color: #F3F3F3;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 35px;
            font-family: Paperozi;
        }

        button:hover{
            background-color: #FD7811;
        }
    }
}

#ResultCard_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    font-family: Paperozi;

    .round{
            font-size: 30px;
    }

    .input_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 996px;
        height: 77px;
        background-color: #F3F3F3;
        border-radius: 20px;
        font-size: 40px;

        .text{
            font-size: 40px;
        }

        .icon{
            font-size: 40px;
        }
        
    }

    .answer_container{
        width: 999px;
        height: 234px;
        background-color: #F3F3F3;
        background-color: #F3F3F3;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 28px;

        p{
            font-size: 30px;
            margin: 0;
        }

        .answer1{
            font-size: 40px;
            font-weight: bold;
            color: #FD7811;
        }

        .answer2{
            font-size: 35px;
        }
    }
    
}

#LionComponent_wrap{
    position: absolute;
    top: 150px;
    left: 351px;
    display: flex;
    flex-direction: row;
    gap: 15px;

    .comment{
        font-family: Paperozi;
        font-size: 30px;
    }
}